<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap Example</title>
      <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
      <script src = "/scripts/jquery.min.js"></script>
      <script src = "/bootstrap/js/bootstrap.min.js"></script>
   </head>
   <body>
      <h2>Coding Examples</h2>
      <p>The following are the examples:</p>
      <ul class = "pagination">
         <li><a href = "#">«</a></li>
         <li><a href = "#">Code1</a></li>
         <li><a href = "#">Code2</a></li>
         <li><a href = "#">Code3</a></li>
          <li><a href = "#">Code1</a></li>
         <li><a href = "#">Code2</a></li>
         <li><a href = "#">Code3</a></li>
          <li><a href = "#">Code1</a></li>
         <li><a href = "#">Code2</a></li>
         <li><a href = "#">Code3</a></li>
          <li><a href = "#">Code1</a></li>
         <li><a href = "#">Code2</a></li>
         <li><a href = "#">Code3</a></li>
          <li><a href = "#">Code1</a></li>
         <li><a href = "#">Code2</a></li>
         <li><a href = "#">Code3</a></li>


         <li><a href = "#">»</a></li>
      </ul>
   </body>
</html>